<strong>Olá {{ deliveryman.name }}, </strong>

<p>Informamos que a encomenda {{ delivery.id }} do produto {{ product }} foi cancelada devido ao seguinte problema:
  <br />
  {{ problem.description }} </p>

<p><strong>Encomenda cancelada em:</strong> {{ cancellation_date }} </p>

<p></p>
